@model IEnumerable<PracticaSegundoParcial_CFBQ.Dominio.Course>
@{
    ViewData["Title"] = "CourseList";
}

<h1>Course List</h1>
<br />
<h3>@Html.ActionLink("New Course", "RegisterCourse")</h3>
<br />
<table table class="table table-dark table-striped">
    <th>
        ID
    </th>
    <th>
        Title
    </th>
    <th>
        Credits
    </th>
    <th>
        Acciones
    </th>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CourseId</td>
                <td>@item.Title</td>
                <td>@item.Credits</td>
                <td>
                    @Html.ActionLink("Edit", "PreCourses", new { id = item.CourseId, nombre = item.Title },
                    new { @class = "btn btn-outline-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>
